<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM  "http://testng.org/testng-1.0.dtd">

<suite name="TestCases">
<parameter name="proxyAddress" value="10.136.32.32"/>
<parameter name="proxyPort" value="8080"/>
<parameter name="userId" value="rajp@perfectomobile.com"/>
<parameter name="pass" value="Perfecto"/>
<parameter name="defaultdeviceID" value="DBF70BF4BE6919E583D19619B6DC773A37269561"/>
	<!-- Run_Mode:= Debug/Automation -->
<parameter name="Run_Mode"  value="Debug"/>
<parameter name="cloudUrl"  value="www.demo.perfectomobile.com"/>


    <test name="SampleDemoTestNG_Tests">
    	<parameter name="deviceCategory" value="iphone"/>
    	<parameter name="deviceOSVersion" value="ios7"/>
    	<parameter name="installApp" value="false"/>
    	<parameter name="testCaseName" value="SampleTests"/>
    	<parameter name="thresholdSleep" value="0"/>
    	<parameter name="thresholdCheck" value="0"/>
    	<parameter name="proxy" value="false"/>
    	<parameter name="THREAD" value = "2" />
        <classes>
        	<class name="test.TestCaseExample">
                <methods>
                    <include name="TestCase1"/>
                </methods> 
            </class>
        </classes>
    </test>
    
   
</suite>

